.Home {
  position: relative;
  padding-top: 2em;
  min-width: 360px;
  min-height: 480px;
  max-height: 100%;
  max-width: 60%;
  margin: 0 auto;
}

.Home img {
  margin-top: 2em
}

.Home p {
  position:relative;
  z-index: 999;
  font-size: 1.6em;
}

.Home .progressIndicatorContainer {
  position: relative;
  z-index: 999;
  text-align: center;
}

.assistentImage {
  max-height: 70%;
  max-width: 70%;
}

.flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.triangle {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 70px solid white;
  position: absolute;
  z-index: 99;
  right: -0%;
  top: -12%;
  transform: rotate(230deg);
}
